<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mmmask</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <script src="/javascript/app.js" defer></script>
  </head>

  <body>
    <div class="page">
      {{#ifneq authenticatedtoken true}}
      {{> navigation}}
      {{/ifneq}}
      {{#if title }}
      <div class="title">
        <h2>{{ title }}</h2>
      </div>
      {{/if}}
      <div class="content">{{{body}}}</div>
      <div id="snackbar"></div>
    </div>
  </body>
</html>
