<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Mmmask - Fejl!</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" />
    <sc ript src="/javascript/app.js" defer></sc>
</head>
{{#if error}}
<div>
    <h2>Der er opstået en fejl!</h2>
    <span>Noget tyder på at du er ved at tilgå beskyttede data</span>
</div>
{{else}}
<div>
    <h2>Der er opstået en fejl!</h2>
    <span>Linket er forkert, eller du prøver at tilgå data udenfor din adgang</span>
</div>
{{/if}}

</html>