<script src="/javascript/shareurl.js" defer></script>
<link rel="stylesheet" href="/css/shareurl.css" />

<div class="tooltip">
    <span class="tooltiptext" id="myTooltip">Kopier til udklipsholder</span>
    <button id="shareurl">Del side</button>
    <div id="form-expiration">
        <label for="expirationInDays">Link gyldighedsperiode i dage</label>
        <input type="number" name="expirationInDays" value="" id="expirationInDays" required />
    </div>
</div>

